/* Fondo oscuro para toda la página */
* {
    background-color: #1a1919;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    height: 100%; /* Asegura que el contenido ocupe toda la pantalla */
    display: flex;
    align-items: center; /* Centra verticalmente */
}
.curved-image {
    width: 80vw;
    height: 100vh;
    -webkit-clip-path: path('M0,0 C100,150 300,150 400,0 Z');
    clip-path: path('M0,0 C100,15 6000,15000 1300,0 Z');
    background-image: url('/images/bodega.png');
    background-size: cover;
    background-position: center;
    box-shadow: 2px 2px 20px 2px rgb(19, 19, 19);
  }


.principal {
    color: #db9209; /* Texto blanco para visibilidad */
    margin-left: 5rem;
}

.titulo {
    font-size: 3.8em; /* Tamaño más grande para el título */
    margin-bottom: 20px; /* Espaciado inferior */
    
}

ul {
    list-style-type: none; /* Elimina las viñetas */
    padding: 0;
    margin: 0;
}

ul li {
    margin: 10px 0; /* Espaciado entre los elementos */
}

a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: white; /* Color blanco para los enlaces */
    font-size: 2em; /* Aumenta ligeramente el tamaño del texto */
}

a:hover {
    color: rgb(255, 165, 0); /* Cambia el color al pasar el mouse */
}

